@model User
@{
    ViewData["Title"] = "Login page";
}
@if (Model == null)
{
    <div class="container">
    <form id="login-form"method="post" asp-action="Login" asp-controller="Auth">
        <div class="border box-shadow d-flex justify-content-center align-items-center flex-column" style="width: fit-content; padding: 15px; border-radius: 8px;">
            <div id="title" class="d-flex fs-2">
                <b>Login</b>
            </div>
            <div class="flex-box">
                <label asp-for="Login">Username:</label><br>
                <input asp-for="Login" type="text" id="player-login" placeholder="Enter username" name="login">
                <br>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="flex-box" style="margin-top: 5px;">
                <label asp-for="Password">Password:</label><br>
                <input asp-for="Password" type="password" id="player-password-login" placeholder="Enter password" name="password">
                <br>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="start-button-div">
                <button class="btn btn-primary" id="start-login" style="width: 100px;" type="submit">Login</button>
            </div>
            <div class="register-div">
                Don't have an account?
                <a asp-action="Register" asp-controller="Auth">
                    <u>Register</u>
                </a>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="flex-box">
                    <span class="text-danger">
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            if (modelState.Errors.Any(e => e.ErrorMessage == "Неправильный логин или пароль. Попробуйте еще раз."))
                            {
                                foreach (var error in modelState.Errors)
                                {
                                    <span>@error.ErrorMessage</span>
                                }
                            }
                        }
                    </span>
                </div>
            }
        </div>
    </form>
    </div>
}