@{
    Layout = null;
}
<div class="flex-box-success-registration">
    <div class="font-success">Успешная регистрация!</div>
    <div class="font-success">Ваш аккаунт создан</div>
    <div>
        <a asp-action="Login" asp-controller="Auth">
            <button class="btn btn-primary" id="login-in-account" type="button" style="width: 230px;">Sign in to your
                account
            </button>
        </a>
    </div>
</div>