<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RegistryUrl>registry.hub.docker.com/denisshap</RegistryUrl>
    <UserName>denisshap</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>41dce893-6f2e-4774-b035-86c84bde3a3c</ProjectGuid>
    <_TargetId>NetSdkDockerContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>